

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
<<<<<<< .merge_file_a07096







=======
/* === Main === */

* {
    /* == Everything has these == */
    
}




/* === Classes === */

.centre {
    text-align: center;
    alignment-adjust: central;
    margin: 0 px;
    position: static !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
/*=== Ignore me, I don't actually work (at least, not likely) === */    
}

.image {
    appearance: icon;
    -moz-appearance:icon; /* Firefox */
    -webkit-appearance:icon; /* Safari and Chrome */
    
    box-shadow: 10px 10px 5px #888888; 
}


.round {
    border-radius: 30px;
    
}


/* === IDs === */
>>>>>>> .merge_file_a12336










